{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    {{ form_start(form)}}

        {{ form_row(form.password) }}

        <button type="submit">Change password</button>

    {{ form_end(form) }}

    <a href="{{ path('app_profile_edit') }}">back to profile</a>
{% endblock %}
