{% extends 'base.html.twig' %}

{% block title %}Administrator setup{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.emailAddress) }}
        {{ form_row(form.plainPassword) }}

        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
