{% extends 'base.html.twig' %}

{% block page_title 'Platform setup' %}

{% block intro %}
    <div class="intro">
        <div class="container">
            <h2 class="intro__title">
                Platform setup
            </h2>

            Configure the platform to match your needs
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 col-lg-5 col-xl-4">
            {{ form_start(form) }}

            {{ form_row(form.emailAddress) }}
            {{ form_row(form.plainPassword) }}

            <button type="submit" class="btn btn-block btn-primary">
                Setup
            </button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
