{% extends 'base.html.twig' %}

{% block title 'group.view.view.title'|trans({ '%group%': group.name }) %}

{% block body %}
    <h1>{{ group.name }}</h1>

    <hr class="mt-5">

    <div class="row">
        <div class="col-md-8">
            {% if group.isPending %}
                <div class="alert alert-primary">
                    <p class="mb-0">
                        {{ 'group.view.view.flash.pending'|trans }}
                    </p>
                </div>
            {% endif %}

            <h3>Upcoming events:</h3>
            {% for event in upcoming_events %}
                {% include 'group/view/_event.html.twig' %}
                <hr>
            {% endfor %}


            <h3 id="finished-events">Finished events:</h3>

            {% for event in finished_events %}
                {% include 'group/view/_event.html.twig' %}
                <hr>
            {% endfor %}

            {% include '_components/pagination.html.twig' with {
                total_pages: finished_events_total_pages,
                route_parameters: { slug: group.slug, _fragment: 'finished-events' },
                page_parameter: constant('App\\Controller\\Group\\ViewController::FINISHED_EVENTS_PAGE_PARAMETER')
            } %}

        </div>
        <div class="col-md-4 border-left">
            {% include 'group/view/_sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}
