{% extends 'base.html.twig' %}

{% block title 'group.view.view.title'|trans({ '%group%': group.name }) %}

{% block extra_flash_messages %}
    <div class="flash notice-flashes">
        <div class="flash__inner">{{ 'group.view.view.flash.pending'|trans }}</div>
    </div>
{% endblock %}

{% block body %}
    <h1>{{ group.name }}</h1>

    {% if is_granted('GROUP_UNFOLLOW', group) %}
        You are follower of this group! \o/

        <a href="{{ path('app_group_unfollow', { slug: group.slug }) }}">
            stop following this group
        </a>
    {% endif %}

    {% if is_granted('GROUP_FOLLOW', group) %}
        Interested in following this group ?

        <a href="{{ path('app_group_follow', { slug: group.slug }) }}">
            follow this group
        </a>
    {% endif %}
{% endblock %}
