{% extends 'base.html.twig' %}

{% block title %}Password request success{% endblock %}

{% block body %}
    Go check your mails to change your password.

    <a href="{{ path('app_login') }}">back to login</a>
{% endblock %}
