{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    {{ form_start(form)}}

        {{ form_row(form.password) }}

        <button type="submit">Reset password</button>

        <a href="{{ path('app_login') }}">back to login</a>

    {{ form_end(form) }}
{% endblock %}
