{% set creator = event.creator %}
{% set group = event.group %}

{% extends 'mail/base.html.twig' %}

{% block content %}
    <p>
        {{ 'common.hello'|trans({ '%actor%': creator.firstName }) }}
    </p>
    <p>
        {{ 'mail.event.created.body'|trans({ '%event%': event.name, '%group%': group.name })|raw }}
    </p>
{% endblock %}
