{% extends 'base.html.twig' %}

{% block title %}registration success{% endblock %}

{% block content %}
    <div class="container">
        registration success. go check your mails.
    </div>
{% endblock %}
