{% extends 'base.html.twig' %}

{% block page_title 'register.resend_confirm.title'|trans %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 col-lg-5 col-xl-4 text-center">
            <h4 class="mb-4">
                {{ 'register.resend_confirm.title'|trans }}
            </h4>

            <div class="mt-5 mb-5">
                {{ 'register.resend_confirm.message'|trans }}
            </div>

            <a href="{{ path('app_login') }}" class="btn btn-lg btn-block btn-primary">
                {{ 'register.resend_confirm.continue'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
