{% extends 'base.html.twig' %}

{% block page_title 'register.confirm.title'|trans %}

{% block intro %}
    <div class="intro">
        <div class="container">
            <h2 class="intro__title">
                {{ 'register.confirm.title'|trans }}
            </h2>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="text-center">
        <p>
            {{ 'register.confirm.subtitle'|trans }}
        </p>
        <p>
            <a href="{{ path('app_actor_register_resend_confirmation') }}">
                {{ 'register.confirm.again'|trans }}
            </a>
        </p>
    </div>
{% endblock %}
