@import './variables';

.form-error-icon {
    display: none;
}

.text-black {
    color: #000;
}

.city-autocomplete, .city-autocomplete:focus, .city-autocomplete:hover, .city-autocomplete:active {
    background: #e9ecef;
    color: #e9ecef;
    border: 0;
    opacity: 1;
    cursor: default;
    box-shadow: none;
}

.autocomplete {
    position: relative;

    &__chooser {
        position: absolute;
        background: #fff;
        box-shadow: 0 0 5px 0 rgba(194, 194, 194, 0.7);
        margin: 5px 0;
        padding: 5px;
    }

    &__item {
        padding: 3px;
        cursor: pointer;

        &--active {
            background: #e5e5e5;
        }
    }
}

.flashes .alert {
    border-radius: 0 !important;
    border: 0 !important;
    text-align: center;
}

.header {
    padding: 15px 0;

    @include media-breakpoint-up(md) {
        padding: 30px 0;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__logo {
        @include media-breakpoint-up(md) {
            padding-right: 30px;
        }

        img {
            max-height: 40px;
            max-width: 180px;

            @include media-breakpoint-up(md) {
                max-height: 50px;
                max-width: 200px;
            }
        }
    }

    &__search, &__user {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        a {
            display: inline-block;
            color: $dark;
            font-size: 16px;
            padding: 5px;
            margin: 0 5px;
        }
    }

    &__search {
        flex-grow: 1;
    }

    &__user {
        &__cta {
            background: $primary;
            color: $white !important;
            padding: 0.5rem 1.7rem !important;
            margin-right: 5px !important;
            border-radius: 30px;
            font-size: 14px;
            font-family: $font-roboto-mono;
        }
    }

    &__desktop-menu {
        display: inline-block;
        position: relative;
        z-index: 99;

        &__button {
            padding: 15px 5px 15px 20px !important;
        }

        &__caret {
            display: none;
            z-index: 99;
            position: absolute;
            right: 40px;
            height: 20px;
            width: 40px;
            margin-top: -20px;
            padding-top: 12px;
            overflow: hidden;

            &__tip {
                width: 17px;
                height: 17px;
                padding: 1px;
                margin: 0 auto -10px auto;
                box-shadow: 0 2px 11px 1px rgba(194, 194, 194, 0.5);
                background: #fff;
                transform: rotate(45deg);
            }
        }

        &__nav {
            display: none;
            position: absolute;
            right: 0;
            width: 500px;
            border-radius: 14px;
            box-shadow: 0 2px 11px 1px rgba(194, 194, 194, 0.7);
            padding: 15px 10px;
            color: #555555;
            background: #fff;

            a {
                display: block;
                padding: 5px 10px;
                color: $dark;
            }
        }

        &:hover .header__desktop-menu__nav, &:hover .header__desktop-menu__caret {
            display: block;
        }
    }

    &__mobile {
        flex-grow: 1;
        text-align: right;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        &__button {
            border: 0;
            background: 0;
            box-shadow: none;
            font-size: 22px;

            &--close {
                display: none;
            }
        }
    }

    &__mobile-menu {
        margin-top: 20px;
        display: none;

        &--open {
            display: block;
        }

        a {
            display: block;
            padding: 5px 10px;
            color: $dark;
        }
    }
}

.footer {
    font-family: $font-roboto-mono;
    font-size: 14px;
    color: #666;
    margin: 140px 0 70px 0;
    padding: 0 10px;

    &__row {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
    }

    &__copyright {
        flex-grow: 1;
        margin-bottom: 10px;
    }

    &__links {
        text-align: center;
        margin-bottom: 10px;

        a {
            display: inline-block;
            padding: 5px;
            margin: 0 5px;
        }
    }
}

.home {
    &__intro {
        background-position: 50% 50%;
        background-size: cover;
        color: #fff;
        padding: 50px;
        text-align: center;

        &__subtitle {
            font-family: $font-roboto-mono;
            font-size: 22px;
            font-weight: normal;
        }

        &__title {
            font-size: 52px;
            font-weight: bold;
            margin-bottom: 0;
        }

        &__button {
            margin-top: 30px;
        }
    }

    &__category {
        margin-top: 60px;
    }

    &__map {
        height: 400px;

        &__event {
            margin: 15px 0;
            font-family: $font-roboto-mono;
            font-size: 12px;

            a {
                color: #000;
                font-weight: bold;
                font-size: 14px;
                font-family: $font-roboto-slab;
            }

            &__date {
                color: #999;
            }
        }
    }
}

.search {
    &__form {
        display: flex;
        align-items: stretch;
        text-align: center;
        flex-direction: column;

        input {
            text-align: center;
        }

        @include media-breakpoint-up(md) {
            flex-direction: row;
            align-items: center;
            text-align: left;

            input {
                text-align: left;
            }
        }

        &__term {
            flex-grow: 3;
        }

        &__city {
            flex-grow: 2;

            div {
                width: 100%;
            }
        }

        &__label, &__button {
            padding: 10px 20px;
        }
    }
}

.card {
    background: $white;
    border-radius: 14px;
    box-shadow: 0 2px 11px 1px rgba(194, 194, 194, 0.7);
    padding: 30px;
    font-family: $font-roboto-mono;
    font-size: 13px;
    color: #555555;

    a, a:hover {
        color: $black;
        font-weight: normal;
    }

    .address__text__city {
        font-weight: normal;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: $primary-gradient;
        color: $white;
        padding: 7px 12px;
        margin-right: 10px;
        border-radius: 2px;

        &__day {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 2px;
            font-weight: bold;
        }

        &__month {
            font-size: 13px;
            line-height: 13px;
        }
    }

    &__title {
        font-family: $font-roboto-slab;
        font-size: 22px;
        margin: 0;
        color: $black;

        &, a, a:hover {
            font-weight: 600;
        }
    }

    &__subtitle {
        margin: 10px 0 8px 0;
    }

    &__calendar, &__user {
        margin: 40px 0 0 0;
        display: flex;
        align-items: center;

        &__icon {
            flex-basis: 0;
            min-width: 30px;
            font-size: 18px;
            margin-right: 7px;
            text-align: center;
        }
    }
}

.intro {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 30px;
    font-family: $font-roboto-mono;
    font-weight: 400;
    font-size: 24px;

    &__title {
        margin: 0 0 10px 0;
        padding: 0;
        font-family: $font-roboto-slab;
        font-size: 36px;
    }
}

.address {
    display: flex;
    align-items: center;

    &__icon {
        flex-basis: 0;
        min-width: 30px;
        font-size: 18px;
        margin-right: 7px;
        text-align: center;
    }

    &__text {
        &__street {
            color: $gray-600;
        }

        &__city {
            font-weight: 600;
        }
    }
}

.event {
    background: $white;
    border-radius: 14px;
    box-shadow: 0 2px 11px 1px rgba(194, 194, 194, 0.7);
    padding: 60px;

    &__title {
        font-size: 30px;
        color: $dark;
    }

    hr {
        margin: 30px 0;
    }

    &__field {
        margin-bottom: 20px;

        &__label {
            font-weight: bold;
        }
    }

    &__buttons {
        a {
            display: inline-flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border: 1px solid $primary;
            border-radius: 30px;
            transition: all 0.2s;
            margin-right: 5px;

            &:hover {
                background: $primary;
                color: $white;
                text-decoration: none;
            }
        }
    }
}
