{% extends 'base.html.twig' %}

{% block title 'actor.reset_password.check_email.title'|trans %}

{% block body %}
    {{ 'actor.reset_password.check_email.mail_sent'|trans }}

    <a href="{{ path('app_login') }}">
        {{- 'security.login.link.back'|trans -}}
    </a>
{% endblock %}
