{% extends 'base.html.twig' %}

{% block page_title 'event_search.title'|trans %}

{% block intro %}
    <div class="intro mb-0">
        <div class="container">
            <h2 class="intro__title">
                {{ 'event_search.title'|trans }}
            </h2>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="search">
        <div class="row mt-5">
            {% for i, event in events %}
                <div class="col-md-4">
                    {{ include('_components/_event_card.html.twig', {'event': event}) }}
                </div>
                {% if i % 3 == 0 and i > 0 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
