{% extends 'base.html.twig' %}

{% block page_title 'event_search.title'|trans %}

{% block javascripts encore_entry_script_tags('search-event') %}

{% block body %}
    <div class="search">
        <div class="search__intro">
            <h2 class="search__intro__title">
                {{ 'event_search.title'|trans }}
            </h2>
        </div>

        <div id="search-events"></div>
    </div>
{% endblock %}
