<li>
    <a href="{{ path('app_homepage', { _switch_user: object.emailAddress }) }}"
       class="sonata-action-element"
       title="Impersonate">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        Impersonate
    </a>
</li>
