<a href="{{ path('app_homepage', { _switch_user: object.emailAddress }) }}"
   class="btn btn-sm btn-default"
   title="Impersonate">
    <i class="fa fa-user-secret" aria-hidden="true"></i>
    Impersonate
</a>
