{% extends 'mail/base.html.twig' %}

{% block content %}
    <p>
        {{ 'common.hello'|trans({ '%actor%': actor.firstName }) }}
    </p>
    <p>
        {{ 'mail.actor.password_changed.body'|trans }}
    </p>
{% endblock %}
