{% extends 'mail/base.html.twig' %}

{% block body %}
    Welcome {{ actor.firstName }}!
    <br>
    Please <a href="{{ url('app_registration_confirm', { uuid: token }) }}">activate</a> your account.
{% endblock %}
