{% extends 'mail/base.html.twig' %}

{% block body %}
    Hello {{ actor.firstName }}!
    <br>
    Please <a href="{{ url('app_password_reset', { uuid: token }) }}">click here</a> to reset your password.
{% endblock %}
