{% extends 'mail/base.html.twig' %}

{% block unsubscribe_link '' %}

{% block content %}
    <p>
        {{ 'common.hello'|trans({ '%actor%': actor.firstName }) }}
    </p>
    <p>
        {{ 'mail.actor.reset_password_success.body'|trans }}
    </p>
    <p>
        {{ 'mail.common.click_here_to_sign_in'|trans({ '%url%': url('app_login') })|raw }}
    </p>
{% endblock %}
