{% extends 'mail/base.html.twig' %}

{% block unsubscribe_link '' %}

{% block content %}
    <p>
        {{ 'common.hello'|trans({ '%actor%': actor.firstName }) }}
    </p>
    <p>
        {{ 'mail.actor.reset_password_request.body'|trans({ '%url%': url('app_actor_reset_password_reset', { uuid: token }) })|raw }}
    </p>
{% endblock %}
