{% set animator = group.animator %}

{% extends 'mail/base.html.twig' %}

{% block content %}
    <p>
        {{ 'common.hello'|trans({ '%actor%': animator.firstName }) }}
    </p>
    <p>
        {{ 'mail.group.confirmed.body'|trans({ '%group%': group.name })|raw }}
    </p>
{% endblock %}
