{% set group = membership.group %}
{% set coAnimator = membership.actor %}

{% extends 'mail/base.html.twig' %}

{% block content %}
    <p>
        {{ 'common.hello'|trans({ '%actor%': coAnimator.firstName }) }}
    </p>
    <p>
        {{ 'mail.group.new_co_animator.body'|trans({ '%group%': group.name })|raw }}
    </p>
{% endblock %}
