{% extends 'base.html.twig' %}

{% block title 'common.homepage'|trans %}

{% block body %}
<div class="home">
    <div class="home__intro">
        <h2 class="home__intro__title">
            Mobilisez-vous pour l’Europe
        </h2>
        <h3 class="home__intro__subtitle">
            Discutez, échangez, reflechissez et partez engager les autres citoyens.
        </h3>
        <a href="" class="btn btn-primary btn-lg">
            Je m'inscris
        </a>
    </div>

    <div class="home__events">
        <div class="row">
            <div class="col-4">
                <div class="card card--event">
                    <h4 class="card__title">
                        <a href="">
                            Atelier de discussion stratégie de mise en place
                        </a>
                    </h4>

                    <div class="card__subtitle">
                        Jeudi 12 avril 2019
                    </div>

                    <div class="card__subtitle">
                        34 participants
                    </div>

                    <div class="card__user">
                        <div class="card__user__image">
                            <img src="{{ asset('res/fixtures/user.jpg') }}" />
                        </div>
                        <div class="card__user__profile">
                            Organisé par <a href="">Titouan G</a>
                            <br />
                            De <a href="">Paris XIème</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card--event">
                    <h4 class="card__title">
                        <a href="">
                            Atelier de discussion stratégie de mise en place
                        </a>
                    </h4>

                    <div class="card__subtitle">
                        Jeudi 12 avril 2019
                    </div>

                    <div class="card__subtitle">
                        34 participants
                    </div>

                    <div class="card__user">
                        <div class="card__user__image">
                            <img src="{{ asset('res/fixtures/user.jpg') }}" />
                        </div>
                        <div class="card__user__profile">
                            Organisé par <a href="">Titouan G</a>
                            <br />
                            De <a href="">Paris XIème</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card--event">
                    <h4 class="card__title">
                        <a href="">
                            Atelier de discussion stratégie de mise en place
                        </a>
                    </h4>

                    <div class="card__subtitle">
                        Jeudi 12 avril 2019
                    </div>

                    <div class="card__subtitle">
                        34 participants
                    </div>

                    <div class="card__user">
                        <div class="card__user__image">
                            <img src="{{ asset('res/fixtures/user.jpg') }}" />
                        </div>
                        <div class="card__user__profile">
                            Organisé par <a href="">Titouan G</a>
                            <br />
                            De <a href="">Paris XIème</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-5">
            <a href="" class="btn btn-outline-primary btn-lg">
                Voir tous les événements
            </a>
        </div>
    </div>
</div>
{% endblock %}
