{% extends 'admin/security/base.html.twig' %}

{% block title %}Administration login{% endblock %}

{% block login_wrapper %}
    {% if error %}
        <div class="alert alert-danger alert-error">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <p class="login-box-msg">Enter your credentials</p>

    <form action="{{ path("app_admin_login") }}" method="post" role="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group has-feedback">
            <input class="form-control"
                   id="emailAddress"
                   name="emailAddress"
                   placeholder="Email address"
                   required="required"
                   type="text"
                   value="{{ last_username }}"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
            <input class="form-control"
                   id="password"
                   name="password"
                   placeholder="Password"
                   required="required"
                   type="password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        Remember me
                    </label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                    Sign in
                </button>
            </div>
        </div>
    </form>
{% endblock %}
