<li>
    <a href="{{ path('app_admin_group_refuse', { group: object.id }) }}"
       class="sonata-action-element"
       title="Refuse">
        <i class="fa fa-remove" aria-hidden="true"></i>
        Refuse
    </a>
</li>
