<li>
    <a href="{{ path('app_admin_group_approve', { group: object.id }) }}"
       class="sonata-action-element"
       title="Approve">
        <i class="fa fa-check" aria-hidden="true"></i>
        Approve
    </a>
</li>
