{% if not object.isApproved %}
    <a href="{{ path('app_admin_group_approve', { group: object.id }) }}"
       class="btn btn-sm btn-success"
       title="Approve">
        <i class="fa fa-check" aria-hidden="true"></i>
        Approve
    </a>
{% endif %}
