{% if object.id %}
<li>
    <a href="{{ path('app_admin_qr_code', { id: object.id }) }}"
       class="sonata-action-element"
       title="QR code Google Authenticator"
       target="_blank">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        QR code Google Authenticator
    </a>
</li>
{% endif %}
