{% extends 'base.html.twig' %}

{% block title %}Resend confirmation success{% endblock %}

{% block body %}
    Go check your mails to confirm your account.

    <a href="{{ path('app_login') }}">back to login</a>
{% endblock %}
