{% extends 'base.html.twig' %}

{% block title %}Resend confirmation success{% endblock %}

{% block body %}
    {{ 'actor.registration.resend_confirmation.mail_sent'|trans }}

    <a href="{{ path('app_login') }}">back to login</a>
{% endblock %}
